
       
         .row1{
             width:100%;
             height:80px;
             background-color: blue;
            position: fixed;
            float:left;
            display:inline-block;
         }
         .col1{
            position: relative;
            top:30px;
            padding:3px;
        
            background-color: red;
            float:right;
                
         }

         .col2{
          
            position: relative;
            top:30px;
        padding: 3px;
            background-color: yellow;
            
         float:right;
        
         }
         .col3{
            width:100%;
           text-align: center;
        

         }
         .po{
            position: relative;
            top:-300px;
          
         }
         .row2{
          width:100%;
          height:150px;
          background-color: orange;
          
         }
         .col4{
            border-radius: 50%;
            position:relative;
            top:20px;
            width:500px;
            height:120px;
           display: inline;
           padding:40px;
            
            background-color: red;
         }
         .row9{
          background-color: darkslategrey;
          height: 200px;
         }
         
         
      
    